$colorNone: none;
$ColorBase1: #041766;
$ColorBase2: #123;
$ColorBase3: #f3bc65;
$ColorBase4: #4bc69a;
$ColorBase5: #4373f7;

$ColorLight1: #123;
$ColorLight1Trans: #123123a6;


$ColorLight2: #fff;
$ColorLight2Trans: #ffffff29;


