@import "../../Config/ColorsTheme.scss";


footer {
  padding: 2rem 0;
  bottom: 0;
  width: 100vw;
  background: $ColorBase1;

  h4 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 7px;
    margin-bottom: 20px;
    color: $ColorBase4;
  }
  h5 {
    font-size: 15px;
    color: $ColorLight2;
  }
  h6 {
    font-size: 18px;
    color: $ColorLight2;
    font-weight: 400;
  }
  .copyright {
    border-top: 1px solid $ColorLight2Trans;
    margin-top: 2%;
    padding-top: 1%;
    .mention {
      text-align: right;
      h6 {
        font-size: 12px !important;
      }
    }
    .droits {
      text-align: left;
      h6 {
        font-size: 12px !important;
      }
    }
  }
}

@media only screen and(max-width:995px) {
  footer {
    text-align: center;
  }
}
